{% extends 'base.html' %}

{% block content %}

<h1>Create a new playlist!</h1>

<form action="/playlists/add" method= "POST", enctype="multipart/form-data">

    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
    
        
        <div class="form-group">
            {{ field.label }}
            {{ field(class="form-control") }}
            
                {% for error in field.errors %} 
                <br>
                <small class="form-text text-danger">
                    {{ error }} 
                </small>
                {% endfor %} 
        </div>
            
    {% endfor %}

    <!-- {{ form.name.label }} {{form.name }} <br>
    {{ form.description.label }} {{ form.description }} <br> -->
    <button class="btn btn-success" type="submit">Add</button>
    
</form>
<a href="/playlists"><button class="btn btn-danger" >Cancel</button></a>

{% endblock %}