{% extends 'base.html' %}

{% block content %}

{% for msg in get_flashed_messages() %} 
      <div class="bg-success m-4 text-center">
          {{msg}}
      </div>
  {% endfor %}
  
<div class="jumbotron">
  <h1>{{ song.title }}!</h1>
  <p class="lead">&ndash; {{ song.artist }}</p>
</div>

<div class="div">
  <h2>Playlists containing this song</h2>
  <ul> 
    <div class="text-primary">
      {% for list in song.playlists %}
        <a href="/playlists/{{list.id}}">
          <li>
            {{list.name}}
          </li>
        </a>
      {% endfor %}
    </div>
  </ul>
</div>



{% endblock %}